.cart {
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cart p {
    font-size: 17px;
    color: #2A414F;
    margin-bottom: 7px;
}